.nav-content-container {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

body {
    max-width:1020px ;
    width: 100%;
    height:1732px ;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-height:63px;
    background-color: #323232;
}
header {
    width: 100%;
    color:white;
}
.container-hexal {
    display: flex;
    justify-content:center;
    align-items: center;
    width: 180px;
    height: 206px;
    margin-top:-119px;
}
.logo {
    background-image: url("./assets/logo.png");
    background-repeat: no-repeat;
    width:64px;
    height:55px;
    z-index: 2;

}
header .hexal {
    width:182px;
    height:209px;
    transform: rotate(120deg);
    overflow:hidden;
    z-index: -1;
}
header .hexal-layer-1 {
    width: 100%;
    height: 100%;
    transform: rotate(120deg);
    overflow:hidden;
}
header .hexal-layer-2 {
    width: 100%;
    height: 100%;
    transform: rotate(120deg);
    background-color:#323232;
    overflow:hidden;
    visibility: visible;
}
.container {
    display: flex;
    justify-content: flex-start;
}

.text-highlighting-green {
    color:#2f9882;
}
.text-size {
    font-size: 8px;
    font-family: "Lato";
}
.padding-left {
    padding-left: 2%;
}
.padding-right {
    padding-right: 2%;
}

nav > :first-child {
    justify-content: flex-end;
}

nav > :last-child {
    justify-content: flex-start;
}

main {
    width: 100%;
    height: 1062px;
}
.hexagon-ex {
    width: 180px;
    height: 206px;
    transform: rotate(120deg);
    overflow: hidden;
    visibility: hidden;
}
.hexagon {
    width: 182px;
    height: 209px;
    transform: rotate(120deg);
    overflow: hidden;
    visibility: hidden;
}
.hexagon-layer-1 {
    width: 100%;
    height:100%;
    transform: rotate(120deg);
    overflow: hidden;
    visibility: hidden;
}
.hexagon-layer-2 {
    width: 100%;
    height: 100%;
    transform: rotate(120deg);
    overflow:hidden;
    visibility: visible;
}
.container-hexagon {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 77px 119px 0px;
}
.container-hexagon-2 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin :-3.766% 1.86% 0%;
}
#hex-marg {
    margin: -3.5% 11.666667% 0%;
    justify-content: space-around;
}
.image-1 {
    background-image:url("assets/monster-1.png");
    background-position: 50%;
}
.image-2 {
    background-image:url("assets/monster-2.png");
    background-position: 50%;
}
.image-3 {
    background-image:url("assets/monster-3.png");
    background-position: 50%;
}
.image-4 {
    background-image:url("assets/monster-4.png");
    background-position: 50%;
}
.image-5 {
    background-image:url("assets/monster-5.png");
    background-position: 50%;
}
.image-6 {
    background-image:url("assets/monster-6.png");
    background-position: 50%;
}
.image-7 {
    background-image:url("assets/monster-7.png");
    background-position: 50%;
}
.image-8 {
    background-image:url("assets/monster-8.png");
    background-position: 50%;
}
.image-9 {
    background-image:url("assets/monster-9.png");
    background-position: 50%;
}
.image-10 {
    background-image:url("assets/monster-10.png");
    background-position: 50%;
}
.image-11 {
    background-image:url("assets/monster-11.png");
    background-position: 50%;
}
.image-12 {
    background-image:url("assets/monster-12.png");
    background-position: 50%;
}
.image-13 {
    background-image:url("assets/monster-13.png");
    background-position: 50%;
}

.line-top-right {
    width: 40%;
    margin:0% 3% 0% 56.9%;
    background-color: #e4e9eb;
    height: 1px;
}
.line-top-left {
    width: 40%;
    margin:1% 56.9% 0% 3%;
    background-color: #e4e9eb;
    height: 1px;
}
.lines-bot {
    display: flex;
    justify-content: center;
    align-items: center;
    width:94.11%;
    height: 1px;
    background-color: #e4e9eb;
    margin-top:11px;
    margin-left:30px;
}
.vertical-line-1 {
    width:1px;
    background-color: #e4e9eb;
    height:104px;
}
.vertical-line-2 {
    width:1px;
    background-color: #e4e9eb;
    height:104px;
}
.little-squares{
    display: flex;
    justify-content: flex-start;
    align-items: center;

}
#squarecolor {
    background-color:#8b8784;
}
#sqpos {
    margin-left:30px;
}
.little-square {
    width: 6px;
    height: 6px;
    background-color: #ddd2c5;
    margin-top:58px;
    margin-left:3px;
}
.portfolio {
    margin-top:11px;
    background-color: #2eb398;
    width:100%;
    height:341px;
}
.hexagon-man {
    width: 180px;
    height: 206px;
    transform: rotate(120deg);
    overflow: hidden;
    visibility: hidden;
}
.man {
    background-image: url(./assets/man.png);
    background-position: 50%;
    position: relative;
}
.left-line {
    width: 1px;
    height:316px;
    margin: 11px 920px 12px 99px;
    background-color: #219d84;
}
.portfolio {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width:100%;
    height: 341px;
}
.portfolio-container {
    height:93%;
    width: 80%;
    border-left: 1px solid #219d84;
    border-right: 1px solid #219d84;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.hexagon-man {
    margin-left:6.3%;
}
.info {
    width:68%;
    height:61.4%;
    margin-left:19px;
    margin-right: 2.4%;
}
.title {
    font-family: "MavenPro", "AdobeInvisFont", "MyriadPro-Regular";
    font-size: 19px;
    color: rgba(215, 252, 245, 255);
    text-align: justify;
    max-width: 209px;
    margin-left:19px;
    margin-top: -1px;
}
.title-2 {
    font-family: "MavenProRegular", "AdobeInvisFont", "MyriadPro-Regular";
    font-size: 18px;
    color: rgba(32, 129, 109, 255);
    text-align: justify;
    margin-left:21px;
    margin-top: -14px;
}
.info-man{

    font-family: "Lato", "AdobeInvisFont", "MyriadPro-Regular";
    font-size: 1.1vw;
    color: rgba(215, 252, 245, 255);
    text-align: justify;
    margin-left:18px;
    display: flex;
}
.social-media-container{ 
    display:flex;
    justify-content: flex-end;
    flex-direction: row;
    align-items:flex-end;
    width:147px;
    height:24px;
}
.social-square{
    width: 100%;
    height:100%;

}
.social-image-facebook {
    background-image: url("./assets/square1.png")
}
.social-image-twitter {
    background-image: url("./assets/square2.png")
}
.social-image-google {
    background-image: url("./assets/square3.png")
}
.social-image-pintrest {
    background-image: url("./assets/square4.png")
}
.social-image-in {
    background-image: url("./assets/square5.png")
}
.social-image-beach {
    background-image: url("./assets/square6.png")
}